* {
    box-sizing: border-box;
}

:root{
    --font-heading: Sen,sans-serif;
    --primary-color: #FFB900;
}


html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 24.5px;
}
/* Header */

.header {
    background-color: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

header.fixed {
    position: sticky;
    top: -28px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav li a {
    position: relative;
    padding: 8px 21px;
}

.nav a {
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    content: "";
    left: 21px;
    bottom: 6px;
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */

.hero{
background: #FFFCF4;
}

.hero .body{
    display: flex;
    align-items: center;
    justify-items:center;
    padding: 56px 0 65px;
}
/* Hero Left */
.hero .media-block{
    position: relative;
    width: 48%;
}

.hero .media-block .img{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .summary{
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    background: #FFFFFF;
box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
border-radius: 12px;
}

.hero .summary .item{
    display: flex;
    align-items: center;
    padding: 24px;
}

.hero .summary .item + .item{
    padding-top: 22px;
}


.hero .item .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #FFF9E8;
    border-radius: 50%;
}

.hero .item:nth-of-type(2) .icon{
    background: #FCEFFF;
}

.hero .item:nth-of-type(3) .icon{
    background: #EBEAFF;
}

.hero .item .info{
    margin-left: 16px;
}

.hero .item .label{
    font-size: 1.4rem;
    color: #5F5B53;
}

.hero .item .title{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
/* Hero Right */
.hero .content-block{
    width: 52%;
    margin-left: 130px;
}

.hero .content-block .heading{
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;

}

.hero .content-block .desc{
    font-size: 1.8rem;
line-height: 1.67;
color: #5F5B53;
padding-top: 22px;
}

.hero .cta-group{
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .btn{
    font-size: 1.8rem;
line-height: 1.67;

text-align: center;

color: #FFFFFF;

    background: var(--primary-color);
}

.hero .watched{
    margin-left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}

.hero .watched .play{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
border-radius: 50%;
}

.hero .watched .video{
    margin-left: 14px;
    font-size: 1.8rem;
line-height: 1.67;
color: #171100;
}

.hero .content-block .desc:nth-child(4){
    margin-top: 48px;
}

.hero .content-block .stats{
   margin: 8px 0 0 -28px;
}

.hero .stats strong{
    font-family: var(--font-heading);
    font-size: 4.4rem;
color: #171100;
padding: 0 8px 0 28px;
}