* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

/* Common */

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 118px;
    font-weight: 600;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
    text-align: center;
}

/* Header */

.header {
    padding-top: 36px;
    background: #fffcf4;
}

.header-fix {
    position: sticky;
    top: -26px;
    overflow: hidden;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav,
.header .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    padding: 16px 0 16px 0;
}

.header .nav .active {
    font-weight: 600;
    color: #171100;
    position: relative;
}

.header .nav .active::after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header li a {
    color: #5f5b53;
}

.nav .action {
    margin-left: 70px;
}

.nav .action .btn {
    padding: 11px 41px;
}

/* Hero */

.hero {
    padding: 48px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .left {
    width: 48%;
    position: relative;
}

.hero .left .img-hero {
    width: 470px;
    height: 685px;
    border-radius: 20px;
}

/* Summary */

.hero .summary {
    width: 270px;
    position: absolute;
    right: 0;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px 0 24px 24px;
}

.hero .summary .item-list {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 22px;
}

.hero .summary .item-list:nth-last-child(1) {
    padding-bottom: 0px;
}

.hero .item-list .item {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .item-list:nth-child(2) .item {
    background: #fcefff;
}

.hero .item-list:nth-child(3) .item {
    background: #ebeaff;
}
.summary .info .desc {
    font-size: 1.4rem;
    line-height: 1.85;
    color: #5f5b53;
}

.summary .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .right {
    width: 470px;
}

.hero .right .headding {
    font-family: var(--font-heading);
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .right .desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    padding: 22px 0 38px;
}

.hero .right .link {
    display: flex;
    align-items: center;
}

.hero .right .btn {
    background: #ffb900;
    width: 180px;
    height: 64px;
    text-align: center;
    line-height: 32px;
    padding: 17px 33px;
}

.hero .video {
    margin-left: 28px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .video .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.hero .video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}

.hero .recent {
    margin-top: 26px;
}

.hero .value {
    display: flex;
}

.hero .value .value-desc {
    margin-top: -14px;
    font-size: 1.8rem;
    color: #5f5b53;
}

.hero .value .value-desc:nth-of-type(2) {
    margin-left: 32px;
}

.hero .value strong {
    font-family: var(--font-heading);
    font-size: 4.4rem;
    color: #171100;
    margin-right: 8px;
}
